---

- name: Debug | ansible_service_mgr
  ansible.builtin.debug:
    var: ansible_service_mgr

- name: Systemd
  when: ansible_service_mgr == 'systemd' or ansible_os_family == 'RedHat'
  block:
    - name: Install systemd configuration
      ansible.builtin.template:
        src: systemd-tailon.service.j2
        dest: /lib/systemd/system/tailon.service
        mode: '0644'
        backup: yes
      notify:
        - Reload systemd
        - Restart tailon
  rescue:
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: /lib/systemd/system
        state: pre
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: "/lib/systemd/system/tailon.service"
        state: pre
    - name: Install systemd configuration
      ansible.builtin.template:
        src: systemd-tailon.service.j2
        dest: /lib/systemd/system/tailon.service
        mode: '0644'
        backup: yes
      notify:
        - Reload systemd
        - Restart tailon
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: /lib/systemd/system
        state: post
    - name: Import immutable
      ansible.builtin.import_tasks: immutable.yml
      vars:
        target_dir: "/lib/systemd/system/{{ unit_name }}.service"
        state: post

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Enable and start tailon systemd service
  ansible.builtin.service:
    name: tailon
    enabled: "{{ tailon_svc_enable | default(true) }}"
    state: "{{ tailon_svc_state | default('started') }}"
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
        )
