---
# handlers file for juju4.tailon

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when:
    - not is_container

- name: Restart tailon
  ansible.builtin.service:
    name: tailon
    state: restarted
  when:
    - not is_container

- name: Restart rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted
  when:
    - not is_container
    - not (ansible_distribution == 'Alpine' or ansible_os_family == 'RedHat')
