{{ ansible_managed | comment }}
## /etc/logrotate.d/tailon
{{ tailon_syslog_target }} {
    rotate {{ tailon_logrotate_days | default(30) | int }}
    daily
    missingok
    notifempty
    delaycompress
    compress
{% if ansible_distribution == 'Ubuntu' %}
    create 660 {{ syslog_user | default('root') }} syslog
{% else %}
    create 660 {{ syslog_user | default('root') }} root
{% endif %}

    sharedscripts
{% if ansible_distribution == 'Ubuntu' %}
    su root syslog
{% endif %}
}
